[submodule "submodules/netPI-nodered-fieldbus"]
	path = submodules/netPI-nodered-fieldbus
	url = https://github.com/HilscherAutomation/netPI-nodered-fieldbus
[submodule "submodules/netPI-nodered-fram"]
	path = submodules/netPI-nodered-fram
	url = https://github.com/HilscherAutomation/netPI-nodered-fram
[submodule "submodules/netPI-nodered-npix-io"]
	path = submodules/netPI-nodered-npix-io
	url = https://github.com/HilscherAutomation/netPI-nodered-npix-io
[submodule "submodules/netPI-nodered-user-leds"]
	path = submodules/netPI-nodered-user-leds
	url = https://github.com/HilscherAutomation/netPI-nodered-user-leds
[submodule "submodules/netPI-nodered-npix-leds"]
	path = submodules/netPI-nodered-npix-leds
	url = https://github.com/HilscherAutomation/netPI-nodered-npix-leds
[submodule "submodules/netPI-nodered-npix-ai"]
	path = submodules/netPI-nodered-npix-ai
	url = https://github.com/HilscherAutomation/netPI-nodered-npix-ai
[submodule "submodules/netPI-nodered-npix-rs232"]
	path = submodules/netPI-nodered-npix-rs232
	url = https://github.com/HilscherAutomation/netPI-nodered-npix-rs232
[submodule "submodules/netPI-nodered-npix-rs485"]
	path = submodules/netPI-nodered-npix-rs485
	url = https://github.com/HilscherAutomation/netPI-nodered-npix-rs485
